## Variáveis

" Nomes que se referem a valores alocados em memória "
* Não podem começar por um número
* Não podem ter nomes reservados (if, for, etc)
* Posso ter acentos, não posso ter alguns caracteres especiais
* Boas práticas: nomes significativos, não usar acentos, começar por letras minúsculas

### Tipo - Numéricas

In [6]:
x = 15
price = 9.99
discount = 0.2
result = price*(1- discount)
print(result)

7.992000000000001

### Tipo - Strings

In [7]:
name = "Joao"
print(name)
print(name*2)

Joao
JoaoJoao

### Manipulação de variáveis

In [12]:
a = 25
b = a

In [13]:
print(a)
print(b)

25
25

In [14]:
a = 17

In [15]:
print(a)
print(b)

17
25

### Strings

In [23]:
name = "Bob"
greeting = "Hello, Bob"
print(greeting)

Hello, Bob

In [24]:
name = "Rolf"
print(greeting)

Hello, Bob

In [25]:
greeting = f"Hello, {name}"
print(greeting)

Hello, Rolf

In [27]:
name = "Anne"
print(greeting)
print(f"Hello, {name}")

Hello, Rolf
Hello, Anne

Usando format()

In [29]:
greeting = "Hello, {}"
with_name = greeting.format("Gabriela")
print(with_name)

Hello, Gabriela

In [30]:
longer_phrase = "Hello, {}. Today is {}."
formatted = longer_phrase.format("Pedro", "Wednesday")
print(formatted)

Hello, Pedro. Today is Wednesday.

## Entrada de dados

In [5]:
name = input("Digite o seu nome:")
print(name)

Digite o seu nome:Gabriela
Gabriela

In [8]:
size_input = input("Qual a área da sua casa (em metros quadrados)?")
square_meters = int(size_input)
square_feet = 10.8*square_meters
print(f"{square_feet} pés quadrados equivalem a {square_meters} metros quadrados")

Qual a área da sua casa (em metros quadrados)?100
1080.0 pés quadrados equivalem a 100 metros quadrados

## Listas, tuplas e conjuntos

In [9]:
l = ["Bob", "Rolf", "Anne"]
t = ("Bob", "Rolf", "Anne")
s = {"Bob", "Rolf", "Anne"}

In [10]:
l

['Bob', 'Rolf', 'Anne']

In [11]:
t

('Bob', 'Rolf', 'Anne')

In [12]:
s

{'Anne', 'Bob', 'Rolf'}

In [13]:
# acessar um elemento na lista
print(l[0])
print(t[0])

Bob
Bob

In [14]:
print(s[0])

TypeError: 'set' object is not subscriptable

In [15]:
# modificar elementos em uma lista
l[0] = "Smith"

In [16]:
# tuplas são imutaveis
t[0] = "Smith"

TypeError: 'tuple' object does not support item assignment

In [17]:
print(t)
print(l)

('Bob', 'Rolf', 'Anne')
['Smith', 'Rolf', 'Anne']

In [18]:
# adicionar elementos a uma lista

l.append("Jen")
print(l)

['Smith', 'Rolf', 'Anne', 'Jen']

In [19]:
# Não consigo adicionar elementos em uma tupla, pois são imutáveis

In [20]:
# adicionar elementos a um conjunto
s.add("Jen")
print(s)

{'Bob', 'Jen', 'Rolf', 'Anne'}

In [21]:
# adicionar elementos repetidos
l.append("Jen")
print(l)

['Smith', 'Rolf', 'Anne', 'Jen', 'Jen']

In [23]:
# não consigo adicionar elementos repetidos em um conjunto
s.add("Jen")
print(s)

{'Bob', 'Jen', 'Rolf', 'Anne'}

* Tuplas são imutáveis, não conseguimos alterar valores  ou adicionar novos elementos
* Conjuntos não permitem adição de elementos repetidos
* Conjuntos não são acessíveis por índice

#### Operações com conjuntos

In [26]:
# Diferença entre dois conjuntos

friends = {"Bob", "Rolf", "Anne"}
abroad = {"Bob", "Anne"}

# Se existem 3 amigos e 2 emigraram (abroad), isso significa que um é local
# Como calcular quais nomes estão em friends e não estão em abroad?

local_friends = friends - abroad
print(local_friends)

{'Rolf'}

In [27]:
local_friends = friends.difference(abroad)
print(local_friends)

{'Rolf'}

In [29]:
abroad - friends

set()

In [30]:
# união
local = {"Rolf"}
abroad = {"Bob", "Anne"}

local.union(abroad)

{'Anne', 'Bob', 'Rolf'}

In [31]:
friends = {"Bob", "Rolf", "Anne"}
abroad = {"Bob", "Anne"}
friends.intersection(abroad)

{'Anne', 'Bob'}

## Booleanos

In [33]:
# Comparações: ==, !=, >, <, >=, <=
print(5 == 5) # True
print(5 > 5) # False
print(10 != 10) # False

True
False
False

In [35]:
friends = ["Rolf", "Bob"]
abroad = ["Rolf", "Bob"]

print(friends == abroad) # True
print(friends is abroad) # False

True
False

## Condicionais

In [38]:
day_of_week = input("Que dia da semana é hoje?")

if day_of_week == "Segunda":
    print("Tenha uma ótima semana!")
elif day_of_week == "Sexta":
    print("Até mais!")
else:
    print("Continue a nadar!")

Que dia da semana é hoje?segunda
Continue a nadar!

In [41]:
day_of_week = input("Que dia da semana é hoje?").lower()

if day_of_week == "segunda":
    print("Tenha uma ótima semana!")
elif day_of_week == "sexta":
    print("Até mais!")
else:
    print("Continue a nadar!")

Que dia da semana é hoje?casa
Continue a nadar!

Keyword: 'in'

In [43]:
day_of_week = input("Que dia da semana é hoje?").lower()
days_of_week = ["segunda", "terça", "quarta", "quinta", "sexta"]

if day_of_week in days_of_week:
    if day_of_week == "segunda":
        print("Tenha uma ótima semana!")
    elif day_of_week == "sexta":
        print("Até mais!")
    else:
        print("Continue a nadar!")
else:
    print("Não informou um dia da semana")

Que dia da semana é hoje?casa
Não informou um dia da semana

## Laços

### While

In [45]:
number = 7
play = input("Você quer jogar? (s/n)")

while play != 'n':
    user_number = int(input("Advinhe o número:"))
    if user_number == number:
        print("Você acertou")
    elif abs(number - user_number) == 1:
        print("Você errou por 1.")
    else:
        print("Você errou")
        
    play = input("Você quer jogar? (s/n)")

Você quer jogar? (s/n)s
Advinhe o número:1
Você errou
Você quer jogar? (s/n)s
Advinhe o número:2
Você errou
Você quer jogar? (s/n)s
Advinhe o número:6
Você errou por 1.
Você quer jogar? (s/n)s
Advinhe o número:7
Você acertou
Você quer jogar? (s/n)n

In [46]:
# keyword: break
number = 7

while True:
    play = input("Você quer jogar? (s/n)")
    if play == 'n':
        break
    user_number = int(input("Advinhe o número:"))
    if user_number == number:
        print("Você acertou")
    elif abs(number - user_number) == 1:
        print("Você errou por 1.")
    else:
        print("Você errou")

Você quer jogar? (s/n)s
Advinhe o número:1
Você errou
Você quer jogar? (s/n)s
Advinhe o número:6
Você errou por 1.
Você quer jogar? (s/n)n

### For

In [47]:
friends = ["Rolf", "Jen", "Bob", "Anne"]

for friend in friends:
    print(f"{friend} é meu amigo")

Rolf é meu amigo
Jen é meu amigo
Bob é meu amigo
Anne é meu amigo

In [48]:
grades = [35, 67, 98, 100, 100]

total = 0
amount = len(grades)

for grade in grades:
    total += grade

print(total/amount)

80.0

In [53]:
grades = [35, 67, 98, 100, 100]

total = sum(grades)
amount = len(grades)

print(total/amount)

80.0

### List Comprehension

In [55]:
numbers = [1, 3, 5]
squares = [x**2 for x in numbers]

In [58]:
friends = ["Rolf", "Sam", "Samantha", "Sarah", "Jen"]
starts_s = []

for friend in friends:
    if friend.startswith("S"):
        starts_s.append(friend)
print(starts_s)

['Sam', 'Samantha', 'Sarah']

In [60]:
friends = ["Rolf", "Sam", "Samantha", "Sarah", "Jen"]
starts_s = [friend for friend in friends if friend.startswith("S")]

In [61]:
starts_s

['Sam', 'Samantha', 'Sarah']

## Dicionários

In [62]:
friend_ages = {"Rolf": 24, "Adam": 30, "Anne": 27}
friend_ages

{'Rolf': 24, 'Adam': 30, 'Anne': 27}

In [63]:
friend_ages["Bob"] = 20
friend_ages

{'Rolf': 24, 'Adam': 30, 'Anne': 27, 'Bob': 20}

In [64]:
friend_ages["Adam"]

30

In [65]:
# lista de dicionários

friends = [
    {"name": "Rolf Smith", "age": 24},
    {"name": "Adam Wool", "age": 30},
    {"name": "Anne Pun", "age": 27}
]
print(friends)

[{'name': 'Rolf Smith', 'age': 24}, {'name': 'Adam Wool', 'age': 30}, {'name': 'Anne Pun', 'age': 27}]

In [67]:
friend_ages = {"Rolf": 24, "Adam": 30, "Anne": 27}

for friend in friend_ages:
    print(f"{friend}: {friend_ages[friend]}")

Rolf: 24
Adam: 30
Anne: 27

In [69]:
for friend, ages in friend_ages.items():
    print(f"{friend}: {ages}")

Rolf: 24
Adam: 30
Anne: 27

## "Desestruturando" variáveis

In [75]:
x, y = 5, 11 # x, y = (5, 11)

In [83]:
student_attendance = {"Rolf": 96, "Bob": 80, "Anne": 100}
for student, attendance in student_attendance.items():
    print(f"{student}:{attendance}")

Rolf:96
Bob:80
Anne:100

In [87]:
student_attendance = [
    {"name": "Rolf Smith", "age": 24, "attendance": 96},
    {"name": "Adam Wool", "age": 30, "attendance": 80},
    {"name": "Anne Pun", "age": 27, "attendance": 100}
]

for student in student_attendance:
    print(f"Name: {student['name']}, Age: {student['age']}, Attendance:{student['attendance']}")

Name: Rolf Smith, Age: 24, Attendance:96
Name: Adam Wool, Age: 30, Attendance:80
Name: Anne Pun, Age: 27, Attendance:100

In [89]:
student_attendance = [
    ("Rolf Smith", 24, 96),
    ("Adam Wool", 30, 80),
    ("Anne Pun", 27, 100)
]

for student, age, attendance in student_attendance:
    print(f"Name: {student}, Age: {age}, Attendance:{attendance}")

Name: Rolf Smith, Age: 24, Attendance:96
Name: Adam Wool, Age: 30, Attendance:80
Name: Anne Pun, Age: 27, Attendance:100

In [90]:
# convenção para ignorar variávies
person = ("Bob", 42, "Mechanic")
name, _, profession = person

In [94]:
head, *tail = [1, 2, 3, 4, 5]
print(head)
print(tail)

1
[2, 3, 4, 5]

In [95]:
*head, tail = [1, 2, 3, 4, 5]
print(head)
print(tail)

[1, 2, 3, 4]
5